<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display</title>
</head>
<body>
    <h1>CART ITEMS</h1>
    <% user.forEach(product => { %>
        <p>Product Name: <%= product.Name %></p>
        <p> Product Price: <%= product.Price %></p>
        <p> Product Quantity: <%= product.Quantity %></p>


        
   <% });  %>
</body>
</html>